* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 10px;
}

.right-margin {
  margin-right: 20px;
}

.hr-line {
  width: 72px;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin: 0px auto 18px;
}

header {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

nav {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo svg {
  width: 200px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-left-section a,
.nav-right-section a {
  font-size: 14px;
}

.nav-left-section a {
  font-weight: bold;
}

.nav-right-section a {
  text-decoration: underline;
  font-weight: 550;
}

.login-btn {
  padding: 8px 15px;
  background-color: black;
  color: white;
  border-radius: 3px;
}

/* Article title */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  margin-top: 60px;
  width: 40%;
}

.opening-image-container {
  width: 83%;
  margin-top: 22px;
}

.opening-image {
  width: 100%;
}

.opening-image-container p {
  width: 70%;
}

.opening-image-container p,
.image-container p {
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #666;
  line-height: 1.7rem;
}

.opening-image-credits,
.image-container-credit {
  font-size: 1.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #888;
  margin-left: 8px;
}

.main-article {
  width: 41%;
  margin-top: 30px;
}

.article-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}

.publication {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publication-date {
  font-size: 1.3rem;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons i {
  font-size: 1.5rem;
}

.icon-svg {
  height: 30px;
}

.facebook {
  padding: 10px 14px;
  background-color: #eee;
  border-radius: 100% 100%;
}

.rounded-icons:not(.facebook) {
  padding: 10px;
  background-color: #eee;
  border-radius: 100% 100%;
}

.author {
  font-size: 1.5rem;
}

.main-article-text p {
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin: 20px 0px;
}

/* Inflation graphic */

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

.inflation-graphic-container {
  width: 945px;
  height: 576px;
  margin-bottom: 130px;
}

.inflation-graphic-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "image image image image"
    "image image image image"
    "image image image image"
    "image image image image";
}

#inflation-graphic-image {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;
  height: 100%;
}

.inflation-graphic-grid-item span {
  margin-right: 7px;
}

.inflation-graphic-grid-item1 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.inflation-graphic-grid-item2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.inflation-graphic-grid-item3 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.inflation-graphic-grid-item4 {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.inflation-graphic-grid-item5 {
  grid-row: 4 / 5;
  grid-column: 1 / 2;
}

.inflation-graphic-grid-item6 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.inflation-graphic-grid-item7 {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
}

.inflation-graphic-grid-item8 {
  grid-row: 4 / 5;
  grid-column: 4 / 5;
}

.inflation-graphic-grid-item {
  line-height: 17px;
  font-size: 14px;
  color: black;
  font-weight: lighter;
  padding-left: 10px;
}

.inflation-graphic-grid-item span {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.inflation-graphic-container img {
  max-width: 100%;
  height: auto;
}

.inflation-graphic-header,
.graphic-intro {
  width: 945px;
}

.inflation-graphic-header {
  margin-bottom: 8px;
  align-self: flex-start;
}

.graphic-intro {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 30px;

  align-self: flex-start;
  margin-right: 7px;
}

.inflation-graphic {
  position: relative;
}

.inflation-description {
  position: absolute;
  line-height: 1.8rem;
  font-size: 1.3rem;
  color: black;
  font-weight: lighter;
}

.inflation-description span {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
}

.inflation-author {
  font-size: 1.3rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-style: normal;
}

.divider {
  margin-top: 20px;
  margin-bottom: 15px;
}

.description1 {
  top: 24.8264%;
  left: 0.0436%;
  width: 228px;
}

.description2 {
  top: 24.8264%;
  left: 25.5619%;
  width: 228px;
}

.description3 {
  top: 24.8264%;
  left: 51.08%;
  width: 228px;
}

.description4 {
  top: 24.8264%;
  left: 76.5982%;
  width: 228px;
}

.description5 {
  top: 73.4375%;
  left: 0.0436%;
  width: 228px;
}

.description6 {
  top: 73.4375%;
  left: 25.5619%;
  width: 228px;
}

.description7 {
  top: 73.4375%;
  left: 51.08%;
  width: 228px;
}

.description8 {
  top: 73.4375%;
  left: 76.5982%;
  width: 228px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.container p {
  font-weight: bold;
}

.container a {
  text-decoration: none;
  color: rgb(50, 104, 145);
  font-weight: bold;
}

.hr-line {
  margin: 0px auto 0px;
}

.hr-line,
.divider {
  width: 72px;
  border-bottom: 1px solid rgb(2, 2, 2);
}

#account-creation-invitation,
.container a {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.hr-line:first-of-type {
  margin-bottom: 12px;
}

.hr-line:last-of-type {
  margin-top: 15px;
}

.main-article-text p a {
  font-size: 1.8rem;
  text-decoration: underline;
  color: #326891;
  font-weight: normal;
}

#video-description {
  margin-bottom: 40px;
}

#video-description,
#video-credits {
  font-size: 1.5rem;
  color: #666;
  margin-top: 0.7rem;
  font-weight: normal;
  width: 100%;
}

#video-credits {
  font-size: 1.3rem;
  color: #888;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.image-container {
  max-width: 50%;
}

.image-container img {
  width: 100%;
}

.image-container p {
  margin-top: 7px;
  margin-bottom: 0;
}

.main-article-footer a {
  text-decoration: underline;
}

.main-article-footer a:hover {
  text-decoration: none;
}

.main-article-footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.main-article-footer-btn {
  background-color: rgb(86, 123, 149);
  color: white;
  padding: 10px 0px;
  width: 330px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  font-size: 1.2rem;
}

.main-article-footer-btn:hover {
  background-color: rgb(50, 104, 145);
}

.further-reading-section,
.further-reading-section > *,
.further-reading-astronomy > *,
.further-reading-editors-picks > *,
.further-reading-popular > * {
  /* border: 1px solid red; */
}

.further-reading-section {
  width: 85%;
}

.further-reading-astronomy {
  float: left;
  width: 75%;
  height: auto;
  display: grid;
  grid-template-rows: 40px auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.further-reading-astronomy h5,
.further-reading-editors-picks h5,
.further-reading-popular h5 {
  grid-column: 1 / 4;
  border-top: 1px solid black;
  align-self: end;
  font-size: 1.6rem;
  padding: 16px 0px 0px 0px;
}

.further-reading-popular {
  float: right;
  width: 25%;
  height: 750px;
  display: grid;
  grid-template-rows: 40px 1fr;
  padding-left: 30px;
}

.further-reading-editors-picks {
  float: left;
  width: 75%;
  height: 250px;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.further-reading-card {
  padding-bottom: 20px;
}

.further-reading-article-image {
  width: 100%;
  height: auto;
}

.further-reading-article-caption {
  float: right;
  color: #999999;
  margin: 3px 0px 0px;
}

.further-reading-article-title {
  clear: right;
  font-size: 1.7rem;
  float: left;
  margin: 5px 0px;
}

.further-reading-article-date {
  clear: both;
  font-size: 12px;
  color: #999999;
}

.paid-post img:nth-of-type(2) {
  width: 25px;
  height: 25px;
}

.most-popular-articles h3 {
  margin-bottom: 20px;
}

.most-popular-articles h3::before {
  content: "";
  border: 0.01px solid rgb(226, 226, 226);
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.most-popular-articles h3 a {
  font-size: 1.8rem;
  font-weight: 500;
}
