:root {
  --margin-auto: 0 auto;
  --right-margin: 15px;
  --default-font: Georgia, "Times New Roman", Times, serif;
  --bottom-border: 1px solid rgb(204, 204, 204);
  --default-width: 100%;
  --medium-font-size: 1.5rem;
  --black-color: black;
  --color-white: white;
  --medium-font-weight: 500;
  --padding-horizontal: 0 20px;
  --default-height: auto;
  --bold-font: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--default-font);
  font-size: 10px;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

.nav-left-section a,
.account-creation-invitation,
.container a,
.author,
.publication,
.publication-date {
  font-family: Helvetica, Arial, sans-serif;
}

.right-margin {
  margin-right: 15px;
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.center-align {
  align-items: center;
}

.flex-ai {
  display: flex;
  align-items: center;
}

.flex-jc-ai {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-svg {
  width: 200px;
}

.hr-line {
  width: 72px;
  border-bottom: var(--bottom-border);
  margin: 0 auto 18px;
}

header {
  width: var(--default-width);
  height: 45px;
  border-bottom: var(--bottom-border);
  position: fixed;
  background-color: var(--color-white);
  z-index: 2;
}

nav {
  width: var(--default-width);
  margin: var(--margin-auto);
  position: fixed;
  background-color: var(--color-white);
  padding: var(--padding-horizontal);
}

.nav-left-section a,
.nav-right-section a {
  font-size: 1.4rem;
}

.nav-left-section a {
  font-weight: var(--bold-font);
}

.nav-right-section a {
  text-decoration: underline;
  font-weight: var(--medium-font-weight);
}

.nav-left-section i {
  font-size: var(--medium-font-size);
}

.login-btn {
  padding: 8px 15px;
  background-color: var(--black-color);
  color: var(--color-white);
  border-radius: 3px;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
}

main {
  justify-content: flex-start;
  padding: var(--padding-horizontal);
  position: relative;
}

main h1 {
  font-size: 4rem;
  margin-top: 120px;
  width: var(--default-width);
  max-width: 650px;
  font-style: italic;
  font-weight: var(--medium-font-weight);
}

.opening-image-container {
  width: var(--default-width);
  max-width: 1200px;
  margin-top: 22px;
}

.opening-image {
  width: var(--default-width);
}

.opening-image-container p {
  width: var(--default-width);
  max-width: 1000px;
  margin-top: 7px;
}

.opening-image-container p,
.image-container p {
  font-size: var(--medium-font-size);
  font-family: var(--default-font);
  color: #666;
  line-height: 1.7rem;
}

.opening-image-credits,
.image-container-credit {
  font-size: 1.2rem;
  font-family: var(--default-font);
  color: #888;
  margin-left: 8px;
}

.main-article {
  width: var(--default-width);
  max-width: 750px;
  margin-top: 30px;
}

.article-info {
  justify-content: space-between;
  width: var(--default-width);
  height: 60px;
  margin-bottom: 20px;
}

.publication-date {
  width: var(--default-width);
  font-size: 1.3rem;
  max-width: 300px;
}

.social-icons {
  margin-left: 30px;
}

.social-icons i {
  font-size: 1.3rem;
}

.social-icons .comments {
  margin-left: -26px;
  margin-top: -5px;
  font-size: 1.2rem;
  font-family: Helvetica, Arial, sans-serif;
}

.icon-svg {
  height: 30px;
}

.facebook {
  padding: 10px 14px;
  background-color: #eee;
  border-radius: 100%;
}

.rounded-icons:not(.facebook) {
  padding: 10px;
  background-color: #eee;
  border-radius: 100%;
}

.author {
  font-size: var(--default-font);
}

.main-article-text p {
  font-size: 2rem;
  line-height: 3rem;
  margin: 20px 0;
  color: #333;
}

h3 {
  font-size: 1.8rem;
  font-weight: var(--bold-font);
}

.inflation-graphic-container {
  width: var(--default-width);
  max-width: 945px;
  height: var(--default-height);
}

.inflation-graphic-grid {
  width: var(--default-width);
  height: 100%;
  display: grid;
  grid-template:
    "image image image image" 1fr
    "image image image image" 1fr
    "image image image image" 1fr
    "image image image image" 1fr /
    1fr 1fr 1fr 1fr;
}

.inflation-graphic-image {
  grid-area: image;
  width: var(--default-width);
}

.inflation-graphic-grid-item1,
.inflation-graphic-grid-item2,
.inflation-graphic-grid-item3,
.inflation-graphic-grid-item4 {
  grid-row: 2 / 3;
}

.inflation-graphic-grid-item5,
.inflation-graphic-grid-item6,
.inflation-graphic-grid-item7,
.inflation-graphic-grid-item8 {
  grid-row: 4 / 5;
}

.inflation-graphic-grid-item1,
.inflation-graphic-grid-item5 {
  grid-column: 1 / 2;
}

.inflation-graphic-grid-item2,
.inflation-graphic-grid-item6 {
  grid-column: 2 / 3;
}

.inflation-graphic-grid-item3,
.inflation-graphic-grid-item7 {
  grid-column: 3 / 4;
}

.inflation-graphic-grid-item4,
.inflation-graphic-grid-item8 {
  grid-column: 4 / 5;
}

.inflation-graphic-grid-item {
  line-height: 17px;
  font-size: 14px;
  color: var(--black-color);
  font-weight: lighter;
  padding-left: 10px;
}

.inflation-graphic-grid-item span {
  font-size: 11px;
  font-weight: var(--bold-font);
  letter-spacing: 0.05em;
  margin-right: 7px;
}

.inflation-graphic-container img {
  width: var(--default-width);
  height: var(--default-height);
}

.inflation-graphic-header {
  margin-bottom: 8px;
  align-self: flex-start;
}

.graphic-intro {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 30px;
  align-self: flex-start;
  margin-right: 7px;
}

.inflation-author {
  font-size: 1.3rem;
  line-height: 1.125rem;
  font-weight: var(--medium-font-weight);
  font-style: normal;
}

.divider {
  margin-top: 20px;
  margin-bottom: 15px;
}

.container {
  font-family: sans-serif;
}

.container p {
  font-weight: var(--bold-font);
}

.container a {
  text-decoration: none;
  color: rgb(50, 104, 145);
  font-weight: var(--bold-font);
}

.hr-line,
.divider {
  width: 72px;
  border-bottom: 1px solid rgb(2, 2, 2);
}

.container .account-creation-invitation,
.container a {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--medium-font-size);
}

.hr-line:first-of-type {
  margin-bottom: 12px;
}

.hr-line:last-of-type {
  margin-top: 15px;
}

.footer-header a {
  color: #326891;
}

.main-article-footer a {
  text-decoration: underline;
}

.links-with-icon a {
  font-size: 1.6rem;
  font-weight: var(--bold-font);
}

.footer-nav a {
  color: #888;
}

.main-article-text p a {
  font-size: 1.8rem;
  text-decoration: underline;
  color: #326891;
  font-weight: normal;
}

.most-popular-articles h3 a {
  font-size: 1.8rem;
  font-weight: var(--medium-font-weight);
}

.main-article-footer a:hover {
  text-decoration: none;
}

.video-description {
  margin-bottom: 40px;
}

.video-description,
.video-credits {
  font-size: var(--medium-font-size);
  color: #666;
  margin-top: 0.7rem;
  font-weight: normal;
  width: var(--default-width);
}

.video-credits {
  font-size: 1.3rem;
  color: #888;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: var(--default-width);
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.image-container {
  width: var(--default-width);
  max-width: 800px;
}

.image-container img {
  width: var(--default-width);
}

.image-container p {
  margin-top: 7px;
  margin-bottom: 0;
}

.main-article-footer-links {
  margin-top: 30px;
  margin-bottom: 70px;
}

.main-article-footer-btn {
  background-color: rgb(86, 123, 149);
  color: var(--color-white);
  padding: 10px;
  width: 330px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  font-size: 1.2rem;
  margin-right: 30px;
  font-family: Helvetica, Arial, sans-serif;
}

.main-article-footer-btn:hover {
  background-color: rgb(50, 104, 145);
}

.further-reading-section {
  width: 83.5%;
}

.further-reading-astronomy {
  float: left;
  width: 70%;
  height: var(--default-height);
  display: grid;
  grid-template-rows: 40px auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

footer h5 {
  font-size: 1.3rem;
}

.further-reading-astronomy h5,
.further-reading-editors-picks h5,
.further-reading-popular h5 {
  grid-column: 1 / 4;
  border-top: 1px solid var(--black-color);
  align-self: end;
  font-size: 1.6rem;
  padding: 16px 0 0 0;
}

.further-reading-editors-picks h5,
.further-reading-popular h5 {
  color: #333;
}

.further-reading-popular {
  float: right;
  width: 30%;
  display: grid;
  grid-template-rows: 40px 1fr;
  padding-left: 30px;
}

.further-reading-editors-picks {
  float: left;
  width: 70%;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.further-reading-card {
  padding-bottom: 20px;
}

.further-reading-article-image {
  width: var(--default-width);
  height: var(--default-height);
}

.further-reading-article-caption {
  float: right;
  color: #999;
  margin: 3px 0 0;
}

.further-reading-article-title {
  clear: right;
  font-size: 1.7rem;
  float: left;
  margin: 5px 0;
}

.further-reading-article-date {
  clear: both;
  font-size: 12px;
  color: #999;
}

.aside-article-link img {
  width: 35%;
  height: var(--default-height);
  margin-right: 12px;
}

.paid-post img:nth-of-type(2) {
  width: 25px;
  height: 25px;
}

.most-popular-articles h3 {
  margin-bottom: 20px;
}

.most-popular-articles h3::before {
  content: "";
  border: 0.01px solid rgb(226, 226, 226);
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-header {
  width: var(--default-width);
  max-width: 1600px;
  margin: var(--margin-auto);
  border-top: 1px double lightgray;
  border-top-width: 4px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.footer-header svg {
  width: 200px;
}

footer {
  width: var(--default-width);
  max-width: 1600px;
  justify-self: center;
  margin: var(--margin-auto);
  height: var(--default-height);
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.footer-left-section {
  justify-content: space-between;
  width: 70%;
}

.footer-left-section a p {
  font-size: 1.3rem;
  line-height: 2.6rem;
}

.footer-right-section {
  border-left: 1px solid lightgray;
  padding-left: 20px;
  margin-left: 50px;
}

.footer-right-section h5 {
  margin-bottom: 15px;
}

.links-with-icon {
  margin-bottom: 15px;
}

.footer-right-section svg {
  height: 13px;
  width: 13px;
  margin-right: 7px;
}

.footer-right-section .links {
  margin-bottom: 10px;
}

.footer-right-section .links:hover,
.footer-nav a:hover {
  text-decoration: underline;
}

.footer-divider {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.footer-nav {
  width: var(--default-width);
  max-width: 1600px;
  margin: 10px auto 100px;
  justify-content: space-evenly;
}

.fixed-footer {
  padding: 20px 0;
  border-top: 1px solid black;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: var(--default-width);
  background-color: var(--color-white);
}

.fixed-footer p:nth-child(1) {
  font-size: var(--medium-font-size);
}

.fixed-footer p:nth-child(2) {
  margin-left: 150px;
  font-size: 1.3rem;
  font-weight: var(--bold-font);
}

.fixed-footer i {
  font-size: 1.8rem;
  margin-left: 30px;
  color: rgb(90, 90, 90);
}

.aside-editors-picks {
  position: absolute;
  font-size: 3rem;
  left: 67%;
  top: 1850px;
  margin-left: 150px;
  width: 100%;
  max-width: 250px;
}

.aside-title {
  border-bottom: 1px solid rgb(226, 226, 226);
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.aside-article-link {
  margin: 18px 0;
}

.aside-article-link h5 {
  font-size: 1.3em;
  font-weight: normal;
  line-height: var(--medium-font-size);
}
